<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>

<%= high_chart("some_id", @file) %>

<h1>Listing file_uploads</h1>

<table>
  <tr>
    <th>Name</th>
    <th>File Path</th>
    <th>Download File</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @file_uploads.each do |file_upload| %>
  <tr>
    <td><%= file_upload.name %></td>
    <td><%= file_upload.file.path %></td>
    <td><%= link_to "Download it", file_upload.file.url %></td>
    <td><%= link_to 'Show', file_upload %></td>
    <td><%= link_to 'Edit', edit_file_upload_path(file_upload) %></td>
    <td><%= link_to 'Destroy', file_upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New File upload', new_file_upload_path %>

<!-- 1. Add these JavaScript inclusions in the head of your page -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>


<!-- 2. Add the JavaScript to initialize the chart on document ready -->
<script type="text/javascript">
$(document).ready(function() {
  

  var options = {
    chart: {
      renderTo: 'container',
      type: 'column'
    },
    title: {
      text: 'Fruit Consumption'
    },
    xAxis: {
      categories: []
    },
    yAxis: {
      title: {
        text: 'Units'
      }
    },
    series: []
  };
  
  /*
   Load the data from the CSV file. This is the contents of the file:
   
    Apples,Pears,Oranges,Bananas,Plums
    John,8,4,6,5
    Jane,3,4,2,3
    Joe,86,76,79,77
    Janet,3,16,13,15
    
   */ 
  $.get('data.csv', function(data) {
    // Split the lines
    var lines = data.split('\n');
    $.each(lines, function(lineNo, line) {
      var items = line.split(',');
      
      // header line containes categories
      if (lineNo == 0) {
        $.each(items, function(itemNo, item) {
          if (itemNo > 0) options.xAxis.categories.push(item);
        });
      }
      
      // the rest of the lines contain data with their name in the first position
      else {
        var series = { 
          data: []
        };
        $.each(items, function(itemNo, item) {
          if (itemNo == 0) {
            series.name = item;
          } else {
            series.data.push(parseFloat(item));
          }
        });
        
        options.series.push(series);

      }
      
    });
    
    var chart = new Highcharts.Chart(options);
  });
  
  
});
</script>